body {
    background-color: #a5a493;
}
body {
    color: #ffffff;
}
#page_title {
    color: #ffffff;
}
#page_title {
    font-size: 2em;
}
input[type="checkbox"] + label {
    background-color: #84837e;
}
input[type="checkbox"] + label {
    color: #ffffff;
}
input[type="checkbox"] + label:hover {
    background-color: #00b0f0;
}
input[type="checkbox"] + label:hover {
    color: #ffffff;
}
input[type="checkbox"]:checked + label {
    background-color: #ff00ff;
}
input[type="checkbox"]:checked + label {
    color: #ffffff;
}
input[type="checkbox"]:disabled + label {
    background-color: #84837e;
}
input[type="checkbox"]:disabled + label {
    color: #bfbfbf;
}
input[type="checkbox"] + label {
    font-size: 0.9em;
}
.tag_label {
    width: 130px;
}
#result_area {
    margin-left: 340px;
}
#select_area {
    width: 340px;
}
#clear_button {
    background-color: #a5a493;
}
#clear_button {
    border-color: #ffffff;
}
#clear_button {
    color: #ffffff;
}
#th_question {
    background-color: #d9d9d9;
}
#th_answer {
    background-color: #00b0f0;
}
#th_link {
    background-color: #d9d9d9;
}
.t_header {
    color: #ffffff;
}
.t_header {
    font-size: 1em;
}
.t_body {
    background-color: #ffffff;
}
.t_body {
    color: #7f7f7f;
}
.t_body {
    font-size: 1em;
}
.linkpage a:visited,
.linkpage a:link {
    color: #00b0f0;
}
#contact,
#notes {
    color: #ffffff;
}
#contact,
#notes,
#mail {
    font-size: 0.75em;
}
#mail a:visited,
#mail a:link {
    color: #ffc000;
}
#tag_select_area {
    scrollbar-arrow-color: #848376;
}
#tag_select_area {
    scrollbar-face-color: #636258;
}
#tag_select_area {
    scrollbar-3dlight-color: #636258;
}
#tag_select_area {
    scrollbar-darkshadow-color: #636258;
}
#tag_select_area {
    scrollbar-highlight-color: #636258;
}
#tag_select_area {
    scrollbar-shadow-color: #636258;
}
#tag_select_area {
    scrollbar-track-color: #848376;
}
